body {background-color:gray;}
.main {background-color:silver; width:80%; margin:auto; padding:15px;}
.main h1 {text-align:center;}
.main h2 {font-size:20px;}
.btn_novy {width:144px;}
.btn2 {width:70px;}
.btn_zpet {margin: 10px 20px;}

div#edit_contact {z-index:10; position:fixed;top:100px; left:0;  width:100%; dosplay:none; }
div#edit_contact div {padding:15px; width:400px; margin:auto; box-shadow: 10px 10px 5px 0 rgba(0,0,0,0.75); border:1px solid gray; background-color: #DDD;}
div#edit_contact div {text-align:center;}
div#edit_contact div form table {width:100%;}
div#edit_contact div form table th {width:20%; text-align:right;}
div#edit_contact div form table td {width:80%;}
div#edit_contact div form table td input {width:100%;}

