<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

    <link rel="stylesheet" href="/css/main.css">

    <title>ONIO test</title>

</head>

<body>
    <div id="app" class="main">
        <h1>ONIO test</h1>
        <h2>Výpis kontaktů</h2>

        <table class="table table-bordered table-hover">
            <tr>
                <th>kontakt</th>
                <td width="170">
                    <button type="button" role="button" class="btn-sm btn-outline-primary btn_novy" v-on:click="show_form_new">Nový</button>
                </td>
            </tr>
            <tr v-for="contact in contacts">
                <td>{{contact.name}} {{contact.surname}}, {{contact.street}} {{contact.number}} {{contact.city}} {{contact.psc}}, tel.: {{contact.phone}}, E-mail: {{contact.email}}</td>
                <td>
                    <button type="button" role="button" class="btn-sm btn-outline-warning btn2 btn_edit" v-on:click="show_form_edit(contact._id)">Edit</button>
                    <button type="button" role="button" class="btn-sm btn-outline-danger btn2" v-on:click="deleteContact(contact._id)" >Smazat</button>
                </td>
            </tr>
        </table>


        <div id="edit_contact" v-if="seen">
            <div>
                <h3 id="nadpis_kontakt">{{nadpis_kontakt}}</h3>
                <form action="" >
                    <table>
                        <tr>
                            <th>jméno:</th>
                            <td><input type="text" name="name" v-model="contact.name" /></td>
                        </tr>
                        <tr>
                            <th>příjmení:</th>
                            <td><input type="text" name="surname" v-model="contact.surname" /></td>
                        </tr>
                        <tr>
                            <th>ulice:</th>
                            <td><input type="text" name="street" v-model="contact.street" /></td>
                        </tr>
                        <tr>
                            <th>číslo:</th>
                            <td><input type="text" name="number" v-model="contact.number" /></td>
                        </tr>
                        <tr>
                            <th>město:</th>
                            <td><input type="text" name="city" v-model="contact.city" /></td>
                        </tr>
                        <tr>
                            <th>PSČ:</th>
                            <td><input type="text" name="psc" v-model="contact.psc" /></td>
                        </tr>
                        <tr>
                            <th>telefon:</th>
                            <td><input type="text" name="phone" v-model="contact.phone" /></td>
                        </tr>
                        <tr>
                            <th>E-mail:</th>
                            <td><input type="text" name="email" v-model="contact.email" /></td>
                        </tr>
                    </table>
                    <button type="button" class="btn-sm btn-outline-danger btn_zpet"    v-on:click="seen = false">Zpět</button>
                    <button type="button" class="btn-sm btn-outline-success btn_submit" v-on:click="newEditContact()">Ulož</button>
                </form>
            </div>
        </div>

    </div>


    <script>
        const app = new Vue({
            el:'#app',
            data:  {
                seen:false,
                contacts: [],
                contact: [],
                nadpis_kontakt: "",
                id_edit:""
            },
            methods: {
                deleteContact: function(id){
                    if(!confirm("Opravdu smazat?")){ return;}
                    fetch("http://localhost:3000/api/contacts/" + id, {
                        method: "DELETE"
                    })
                    .then(() => {
                        window.location.reload();
                    })
                },

                show_form_new: function(){
                    this.nadpis_kontakt = "Nový kontakt";
                    this.id_edit = "";
                    this.contact.name = "";
                    this.contact.surname = "";
                    this.contact.email = "";
                    this.contact.phone = "";
                    this.contact.street = "";
                    this.contact.number = "";
                    this.contact.city = "";
                    this.contact.psc = "";
                    this.seen = true;
                },

                show_form_edit: function(id){
                    this.nadpis_kontakt = "Úprava kontaktu";
                    this.id_edit = id;   // pro newEditContact() ukládání
                    const url = "http://localhost:3000/api/contacts/" + id;
                    axios.get(url).then(response => {
                        this.contact = response.data
                    })
                    this.seen = true;
                },

                newEditContact: function(){
                    $("*").css("cursor", "wait");  // kurzor na hodiny
                    id = this.id_edit;
                    params = {
                        "name" : this.contact.name,
                        "surname" : this.contact.surname,
                        "email" : this.contact.email,
                        "phone" : this.contact.phone,
                        "street" : this.contact.street,
                        "number" : this.contact.number,
                        "city" : this.contact.city,
                        "psc" : this.contact.psc
                    };
                    if(id){                                //edit
                        urlid = "http://localhost:3000/api/contacts/" + id;
                        config = { headers: {'Content-Type': 'application/json'} };
                        axios.put(urlid, params, config)
                        .then((response) => {
                            window.location.reload();
                        });

                    } else {                              //nový
                        url = "http://localhost:3000/api/contacts/";
                        axios.post(url, params)
                        .then((response) => {
                            window.location.reload();
                        });
                    }


                },
            },
            mounted() {    //načte všechny kontakty
                url="http://localhost:3000/api/contacts/";
                axios.get(url).then(response => {
                    this.contacts = response.data
                })
            }
        })

    </script>

</body>
</html>
